* {
    margin:0;
    padding: 0; 
    box-sizing: border-box
}

body {
    background : hsl(157, 66%, 31%);
    
}
header {
    color:aquamarine
}

container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 90%;
 }

 nav {
     display: flex;
     justify-content: space-between;
 }

 img {
    width: 100%;
    height: auto;  
  }

  a {
    text-decoration: nome;
  }

  body {
    font: 400 Irem 'DM Sans', 'sans-serif';
  }